.navigation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 80px;

  a {
    text-decoration: none;
    font-size: 28px;
    margin-right: 20px;
  }

  .social-media img {
    width: 60px;
    height: 60px;
  }
}