// VARIABLES

$fontFamily: 'Slabo 27px', serif;
$purple: #C06C85;
$dark-purple: #a6536c;
$grey: #8f8f8f;
$light-grey: #d7d7d7;
$grey-hover: #b6b4b4;

// MIXINS

// @mixin flex {
//   display: flex;
//   justify-content: space-between
// }

// @include flex

// STYLES

body {
  font-family: $fontFamily;
}

nav {

  display: flex;
  justify-content: flex-end;
  margin-bottom: 80px;

  a {
    text-decoration: none;
    font-size: 28px;
  }

  .social-media {
    margin-right: 26px;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .collab-button {
    background: $purple;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    line-height: 60px;
    padding: 0 20px;
    height: 60px;
  }
}

.opening-text {

  text-align: center;

  h1 {
    font-size: 120px;
  }

  h2 {
    color: $grey;
    font-size: 38px;
    max-width: 730px;
    margin: auto auto 80px auto;
  }

  p {
    font-size: 14px;
    margin-bottom: 14px;
    font-weight: bold;
  }

}

.projects {

  a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: $grey;
    margin-bottom: 60px;
  }

  svg {
    box-shadow: 0px 0px 30px 0px $light-grey;
    border-radius: 6px;
    margin-top: 25px;
  }
}

@media (min-device-width: 845px) {
  .projects {

    a {
      display: inline-grid;
    }

    display: flex;
    justify-content: space-evenly;

    svg {
      height: 300px;
      width: 400px;

      &:hover {
        box-shadow: 0px 0px 30px 0px $grey-hover;
        transition: .3s ease;
      }
    }
  }

  .collab-button {
    &:hover {
      background: $dark-purple;
      transition: ease .3s;
    }
  }

  nav a {
      font-size: 18px;
  }

  .opening-text {

    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 28px;
      max-width: 100%;
      margin: 0 auto;
    }

    p {
      margin-bottom: 40px;
      font-size: 24px;
    }
  }
  
  nav {
    .social-media {  
      img {
        width: 40px;
        height: 40px;
      }
    }
  
    .collab-button {
      line-height: 40px;
      padding: 0 14px;
      height: 40px;
    }
  }
 
}





