@import 'styles/_variables.scss';

.button {
  border-radius: 6px;
  padding: 4px 8px;
  color: $highlight;
  border: 0;
  font-family: $mainFontFamily;
  border: 2px solid $highlight;
  background: $background;
  font-size: 12px;

  @media (min-width: 768px) {
    &:hover {
      background: $highlight;
      color: $background;
      transition: ease .3s;
    }
  }

  @media (max-width: 500px) {
    &:focus {
      outline-style: dotted;
      outline-width: medium;
      outline-offset: 5px;
      outline-color: $highlight;
    }
  }
}


