@import 'styles/_mixins.scss';

.essay-page {
  .opening-text {
    .emoji {
      font-size: 40px;
    }

    h1 {
      font-size: 26px;
    }

    .bio {
      font-size: 18px;
    }
  }

  .back-link {
    @include links;
  }
}