@import 'styles/_mixins.scss';

.primary-button {
  @include button;
  background: $blue;
}

.secondary-button {
  @include button;
  background: $pink;
  font-size: 20px;
}

@media (min-width: 768px) {
  .primary-button,
  .secondary-button {
    &:hover {
      transition: ease .3s;
    }
  }

  .primary-button {
    &:hover {
      background: $hoverBlue;
    }
  }

  .secondary-button {
    &:hover {
      background: $hoverPink;
    }
  }
}