@import 'styles/_variables.scss';

@mixin button {
  border-radius: 8px;
  padding: 8px 12px;
  color: white;
  border: 0;
  font-size: 16px;
  font-family: $mainFontFamily;

  &:focus {
    outline-style: dotted;
    outline-width: medium;
    outline-offset: 5px;
    outline-color: $blue;
  }
}

@mixin primary-button {
  @include button;
  background: $blue;
}