@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Playfair+Display&display=swap');

$mainFontFamily: 'IBM Plex Mono', monospace;
$designFontFamily: 'Shadows Into Light Two', cursive;

$primary: #6b6768;
$secondary: #233172;
$highlight: #AB5232;

$linkUnderline: #e4dee3;

$background: #faf2f0;