@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

$mainFontFamily: 'Roboto', sans-serif;
$designFontFamily: 'Shadows Into Light Two', cursive;

$grey: #a4a4a4;

$pink: #df957c;
$hoverPink: #dd7f60;

$blue: #659dd4;
$hoverBlue: #4c89c4;