@import 'styles/_variables';

body {
  font-family: $mainFontFamily;
  margin: 20px;
  background: $background;

  @media (min-width: 768px) {
    margin: 40px 80px;
  }
}

.formkit-submit {
  background: $highlight !important;
}

.formkit-powered-by {
  border-bottom: 0 !important;
  text-align: left !important;
}