@import 'styles/_variables';

body {
  font-family: $mainFontFamily;
  margin: 0;
  background: $background;
}

.formkit-submit {
  background: $secondary !important;
}

.formkit-powered-by {
  border-bottom: 0 !important;
  text-align: left !important;
}