/* VARIABLES

$fontFamily: 'Slabo 27px', serif;
$purple: #C06C85;
$dark-purple: #a6536c;
$grey: #a9a9a9;
$light-grey: #e9e9e9;
$grey-hover: #d7d7d7;
$secondary-button-hover: #9b9a9a;


IMPORTS

@import url('https://fonts.googleapis.com/css?family=Slabo+27px'); */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
