@mixin button {
  border-radius: 6px;
  text-decoration: none;
  line-height: 60px;
  padding: 0 20px;
  height: 60px;
  color: white;
}


@mixin primary-button {
  @include button;
  background: $purple;
}

@mixin secondary-button {
  background: $grey;
}