@import 'styles/_variables.scss';
@import 'styles/_mixins.scss';

.opening-text {
  .emoji {
    font-size: 60px;
  }

  h1,
  h2
  code {
    font-weight: 300;
  }

  h1 {
    font-size: 34px;

    .design {
      color: $pink;
      font-family: $designFontFamily;
    }

    code {
      font-size: 40px;
    }
  }

  h2 {
    color: $grey;
    font-size: 22px;
    margin: 40px 0;
  }
}