@import 'styles/_variables.scss';
@import 'styles/_mixins.scss';

.opening-text {
  .emoji {
    font-size: 60px;
  }

  h1,
  code {
    font-weight: 300;
  }

  h1 {
    font-size: 40px;
    color: $secondary;
    font-family: 'Playfair Display', serif;
  }

  p {
    color: $primary;
    font-size: 20px;
  }
}