@import 'styles/_variables.scss';

.opening-text {
  margin: 70px 40px;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    margin: 0 50px;
  }

  .emoji {
    font-size: 60px;
  }

  h1,
  h2
  code {
    font-weight: 300;
  }

  h1 {
    font-size: 34px;

    .design {
      color: $pink;
      font-family: $designFontFamily;
    }

    code {
      font-size: 40px;
    }
  }

  h2 {
    color: $grey;
    font-size: 22px;
    margin: 30px 0;
  }
}