@import 'styles/_variables.scss';

.essay {
  font-family: $essaysFontFamily;
  margin-bottom: 30px;

  h3 {
    margin-top: 0;
  }

  .date-time {
    display: flex;

    .date {
      flex: 1;
    }

    .time {
      flex: 4;
    }
  }
}