@import 'styles/_variables.scss';

.home-page {
  .opening-text {
    .emoji {
      font-size: 60px;
    }

    h1 {
      font-size: 40px;
  
      @media (min-width: 500px) {
        font-size: 60px;
      }
    }

    .bio {
      font-size: 20px;
    }
  }

  .skeleton {
    h2 {
      font-size: 30px;
      font-weight: 400px;
      color: $secondary;
      font-family: 'Playfair Display', serif;
      margin-top: 0;
    }
  
    @media (min-width: 768px) {
      display: flex;
    }
  
    .left {
      margin-top: 40px;
  
      @media (min-width: 768px) {
        flex: 2;
        margin: 0px;
      }
    }
  
    .right {
      @media (min-width: 768px) {
        flex: 3;
      }
    }
  
    .essays, 
    .projects {
      h3, h4 {
        margin: 0 0 10px 0;
        text-transform: uppercase;
      }
      
      .time,
      .content,
      .tags,
      .pitch,
      .timeline {
        color: $primary;
      }
    
      .time, 
      h4,
      .tags,
      .timeline {
        font-size: 14px;
      }
    }
  }
}


