@import 'styles/_mixins.scss';

.essays {
  margin-bottom: 50px;

  @media (min-width: 768px) {
    overflow: scroll;
    height: 100vh;
    box-shadow: inset 0px -17px 12px -17px $primary;
  }

  .loading {
    color: $primary;
    font-size: 20px;
  }

  .title-link {
    @include links;
  }

  .time,
  .content {
    margin: 10px 0;
  }

  .content {
    line-height: 22px;
  }

  .essay {
    margin-bottom: 30px;

    @media (min-width: 768px) {
      margin-bottom: 50px;
    }
  }
}