@import 'styles/_variables.scss';

.projects {
  display: flex;
  overflow: scroll;
  padding-bottom: 10px;

  @media (max-width: 768px) {
    &::-webkit-scrollbar {
      width: 0;
      height: 3px;
      background: $linkUnderline;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $primary;
      outline: 1px solid $primary;
      border-radius: 6px;
    }
  }

  @media (min-width: 768px) {
    display: initial;
    overflow: initial;
    padding-bottom: 0;
  }

  .project {
    margin-right: 30px;

    @media (min-width: 375px) {
      margin-right: 40px;
    }

    @media (min-width: 768px) {
      margin-bottom: 50px;
      margin-right: 80px;
    }
  }

  .heading {
    display: flex;
    align-items: flex-start;

    img {
      width: 80px;
      margin-right: 4px;

      @media (min-width: 768px) {
        width: 100px;
        margin-right: 16px;
      }
    }

    h3 a {
      font-size: 16px;

      @media (min-width: 768px) {
        font-size: 20px;
      }
    }

    .timeline, 
    .tags {
      margin: 5px 0;
    }
  
    .tags {
      font-style: italic;
    }
  }
}
