.skeleton {
  @media (min-width: 768px) {
    display: flex;
  }

  .left {
    margin: 70px 40px;
    text-align: center;

    @media (min-width: 768px) {
      flex: 1;
      text-align: left;
      margin: 0 50px;
    }
  }

  .right {
    margin: 0 40px;

    @media (min-width: 768px) {
      flex: 2;
      margin: 0;
    }
  }
}

