.skeleton {
  @media (min-width: 768px) {
    display: flex;
  }

  .left {
    margin: 70px 40px;
    text-align: center;

    @media (min-width: 768px) {
      flex: 1;
      text-align: left;
      margin: 0 50px;
    }

    .hobbies {
      padding-left: 0;

      @media (min-width: 768px) {
        padding-left: 20px;
      }

      li {
        margin: 6px 0;
        list-style-type: none;

        @media (min-width: 768px) {
          list-style-type: circle;
        }
      }
    } 
  }

  .right {
    margin: 0 40px;

    @media (min-width: 768px) {
      flex: 2;
      margin: 0;
    }
  }
}

