@import 'styles/_variables.scss';

.opening-text {  
  @media (min-width: 768px) {
    margin-bottom: 70px;
  }

  h1,
  code {
    font-weight: 300;
  }

  h1 {
    color: $secondary;
    font-family: $styledFontFamily;
    margin: 5px 0 20px 0;
  }

  .bio {
    color: $primary;
  }
}